/* || RESET */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
button {
  font: inherit;
}

/* || UTILITY */

.center {
  text-align: center;
}

.active-list {
  background-color: #1f51ff;
}

/* || VARIABLES */

:root {
  /* FONTS */
  --FF: "Fira sans", sans-serif;
  --FS: 1.8rem;

  /* COLORS */
  --BGCOLOR: #374151;
  --HEADING-COLOR: #6b7280;
  --INPUT-COLOR: #1f2937;
  --LI-COLOR: #111827;
  --FONT-COLOR: #fff;
  --PINK: #ec4899;
  --PURPLE: #8b5cf6;

  /* BORDERS */
  --BORDER-RADIUS: 10px;

  /* STANDARD PADDING */
  --PADDING: 12px;

  /* STANDARD MARGIN */
  --MARGIN: 20px;
}

/* || GENERAL STYLES */

body {
  background-color: var(--BGCOLOR);
  font-family: var(--FF);
  width: 100vw;
  margin: 0 auto;
  position: relative;
}

.header {
  background-color: var(--LI-COLOR);
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--HEADING-COLOR);
}

.header__h1,
.list-display-container__h2 {
  color: var(--HEADING-COLOR);
  font-weight: 300;
  padding: 20px;
}

.header__hamburger-btn {
  width: 50px;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: var(--MARGIN);
}

.hamburger-btn__bar1,
.hamburger-btn__bar2,
.hamburger-btn__bar3 {
  background-color: #6b7280;
  width: 80%;
  height: 5px;
  border-radius: 5px;
  transition: 0.3s;
}

.change .hamburger-btn__bar1 {
  transform: translate(0, 13px) rotate(-45deg);
}

.change .hamburger-btn__bar2 {
  opacity: 0;
}

.change .hamburger-btn__bar3 {
  transform: translate(0, -13px) rotate(45deg);
}

.main {
  width: clamp(340px, 75vw, 800px);
  margin: 0 auto;
}

.paragraph-container {
  height: 80vh;
  display: none;
  justify-content: center;
  align-items: center;
}

p {
  color: var(--HEADING-COLOR);
  font-size: var(--FS);
  text-align: center;
}

form,
ul {
  width: 100%;
}

.list-names {
  background-color: var(--LI-COLOR);
  position: absolute;
  top: 10vh;
  left: 0;
  width: 100%;
  height: 90vh;
  visibility: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.new-list-input {
  width: 100%;
  height: 5vh;
  background-color: var(--BGCOLOR);
  color: #fff;
  border: none;
}

.new-list-btn {
  background-color: var(--PURPLE);
  width: 100%;
  height: 5vh;
  font-size: var(--FS);
  cursor: pointer;
}

.ul-list-name {
  font-size: var(--FS);
  color: white;
}

.list-title {
  font-size: var(--FS);
  background-image: linear-gradient(to right, #1f51ff, lightblue);
  -webkit-background-clip: text;
  color: transparent;
}

input:focus {
  outline: none;
}

.new-task-input {
  background-color: var(--INPUT-COLOR);
  color: var(--FONT-COLOR);
  padding: var(--PADDING);
  border-radius: var(--BORDER-RADIUS);
  width: calc(100% - 99px);
  border: none;
}

.li-Input {
  background-color: var(--LI-COLOR);
  color: var(--FONT-COLOR);
  border: none;
  width: calc(100% - 150px);
}

.edit-li-Input-Color {
  color: var(--PINK);
}

.list-item {
  background-color: var(--LI-COLOR);
  color: var(--FONT-COLOR);
  margin-bottom: 10px;
  padding: var(--PADDING);
  border-radius: var(--BORDER-RADIUS);
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.btnContainer {
  width: 100px;
  display: flex;
  justify-content: space-between;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-weight: bold;
}

.add-task-btn {
  margin-left: var(--MARGIN);
}

.edit-btn,
.add-task-btn {
  background-image: linear-gradient(to right, var(--PINK), var(--PURPLE));
  -webkit-background-clip: text;
  color: transparent;
}

.delete-btn {
  background-color: transparent;
  color: red;
}

.delete-btn-Animation {
  animation-name: deleteAnimation;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.task-container {
  max-height: 70vh;
  overflow: scroll;
  scrollbar-width: none;
}

.task-container::-webkit-scrollbar {
  display: none;
}

.footer {
  position: fixed;
  bottom: 0;
  border-top: 2px solid var(--HEADING-COLOR);
}

.delete-list-btn {
  width: 100vw;
  background-color: var(--LI-COLOR);
  height: 10vh;
  font-size: var(--FS);
  color: red;
}

/* ANIMATIONS */

@keyframes deleteAnimation {
  to {
    transform: rotate(2deg);
    opacity: 0;
  }
}
