/* || RESET */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
button {
  font: inherit;
}

/* || UTILITY */

.center {
  text-align: center;
}

/* || VARIABLES */

:root {
  /* FONTS */
  --FF: "Fira sans", sans-serif;

  /* COLORS */
  --BGCOLOR: #374151;
  --HEADING-COLOR: #6b7280;
  --INPUT-COLOR: #1f2937;
  --LI-COLOR: #111827;
  --FONT-COLOR: #fff;
  --PINK: #ec4899;
  --PURPLE: #8b5cf6;

  /* BORDERS */
  --BORDER-RADIUS: 10px;

  /* STANDARD PADDING */
  --PADDING: 12px;

  /* STANDARD MARGIN */
  --MARGIN: 20px;
}

/* || GENERAL STYLES */

body {
  background-color: var(--BGCOLOR);
  font-family: var(--FF);
  width: 100vw;
  margin: 0 auto;
}

header {
  background-color: var(--LI-COLOR);
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heading {
  color: var(--HEADING-COLOR);
  font-weight: 300;
  margin: var(--MARGIN);
}

.navBtn {
  width: 50px;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: var(--MARGIN);
  /* background-color: red; */
}

.bar1,
.bar2,
.bar3 {
  background-color: #6b7280;
  width: 80%;
  height: 5px;
  border-radius: 5px;
}

main {
  width: clamp(370px, 75vw, 800px);
  margin: 0 auto;
}

.ul-list-name {
  font-size: 1.8rem;
  background-image: linear-gradient(to right, #1f51ff, lightblue);
  -webkit-background-clip: text;
  color: transparent;
}

input:focus {
  outline: none;
}

.addInput {
  background-color: var(--INPUT-COLOR);
  color: var(--FONT-COLOR);
  padding: var(--PADDING);
  border-radius: var(--BORDER-RADIUS);
  width: calc(100% - 99px);
  border: none;
}

.li-Input {
  background-color: var(--LI-COLOR);
  color: var(--FONT-COLOR);
  border: none;
  width: calc(100% - 150px);
}

.edit-li-Input-Color {
  color: var(--PINK);
}

.list-item {
  background-color: var(--LI-COLOR);
  color: var(--FONT-COLOR);
  margin-top: 10px;
  padding: var(--PADDING);
  border-radius: var(--BORDER-RADIUS);
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.btnContainer {
  width: 100px;
  display: flex;
  justify-content: space-between;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-weight: bold;
}

.addTaskBtn {
  margin-left: var(--MARGIN);
}

.editBtn,
.addTaskBtn {
  background-image: linear-gradient(to right, var(--PINK), var(--PURPLE));
  -webkit-background-clip: text;
  color: transparent;
}

.deleteBtn {
  background-color: transparent;
  color: red;
}

.deleteBtn-Animation {
  animation-name: deleteAnimation;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.navBtn-Animation {
  animation-name: hamburger;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

/* ANIMATIONS */

@keyframes deleteAnimation {
  to {
    transform: rotate(2deg);
    opacity: 0;
  }
}

@keyframes hamburger {
  to {
    transform: rotate(-90deg);
  }
}
